/* DEFAULT CSS FROM CREATE REACT APP*/
.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 30vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
} 

label {
  color: white; 

}

.topic-container{
  color: greenyellow
}

.topic-card {
  margin: 50px 50px 50px 50px;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  display: flex;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.button {
  background-color: #4CAF50; /* Green background */
  border: 1px solid green; /* Green border */
  color: white; /* White text */
  padding: 10px 24px; /* Some padding */
  border-radius: 10pc;
  cursor: pointer; /* Pointer/hand icon */
  float: left; /* Float the buttons side by side */
}
